/* ## Entries
--------------------------------------------- */

.entry {
}

.entry-content ol,
.entry-content ul {
  margin-bottom: 28px;
  margin-left: 40px;
}

.entry-content ol > li {
  list-style-type: decimal;
}

.entry-content ul > li {
  list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul {
  margin-bottom: 0;
}

.entry-content code {
  background-color: #333;
  color: #eee;
}

/* ## Entry Meta
--------------------------------------------- */

p.entry-meta {
  margin-bottom: 0;
  font-size: 1em;
}

.entry-header .entry-meta {
  margin-bottom: 24px;
}

.entry-footer .entry-meta {
  padding-top: 24px;
  border-top: 1px solid #eee;
}

.entry-categories,
.entry-tags {
  display: block;
}

.entry-comments-link::before {
  content: "\2014";
  margin: 0 6px 0 2px;
}

/* ## More Link
--------------------------------------------- */

.more-link {
  position: relative;
}

/* ## Pagination
--------------------------------------------- */

.pagination {
  clear: both;
  margin: 40px 0;
}

.adjacent-entry-pagination {
  margin-bottom: 0;
}

.archive-pagination li {
  display: inline;
}

.entry-pagination a,
.archive-pagination a {
  display: inline-block;
  padding: 8px 12px;
  background-color: #fff;
  color: #333;
  font-size: 1em;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.archive-pagination a:focus,
.archive-pagination a:hover,
.archive-pagination .active a {
  background-color: #c3251d;
  color: #fff;
}

.pagination-next {
}

.pagination-previous {
}

.pagination-omission {
}