/* ## Gallery
--------------------------------------------- */

.gallery {
  overflow: hidden;
}

.gallery-item {
  float: left;
  margin: 0 0 28px;
  text-align: center;
  width: 100%;

  .gallery-columns-1 & {
    @include breakpoint(600px) {

    }
  }
  .gallery-columns-2 & {

    @include breakpoint(600px) {
      width: 50%;
    }
  }
  .gallery-columns-3 & {

    @include breakpoint(600px) {
      width: 33%;
    }
  }
  .gallery-columns-4 & {

    @include breakpoint(600px) {
      width: 25%;
    }
  }
  .gallery-columns-5 & {

    @include breakpoint(600px) {
      width: 20%;
    }
  }
  .gallery-columns-6 & {

    @include breakpoint(600px) {
      width: 16.6666%;
    }
  }
  .gallery-columns-7 & {

    @include breakpoint(600px) {
      width: 14.2857%;
    }
  }
  .gallery-columns-8 & {

    @include breakpoint(600px) {
      width: 12.5%;
    }
  }
  .gallery-columns-9 & {

    @include breakpoint(600px) {
        width: 11.1111%;
    }
  }
}

.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
  clear: left;
}

.gallery img {
  height: auto;
  padding: 4px;
}

// .gallery img:focus,
// .gallery img:hover {
// }