.sidebar {
  @include font-size(1.6);
  margin-bottom: 5%;

  @include breakpoint(860px) {
    margin-bottom: 40px;
  }
}

.sidebar .widget {
  background-color: #fff;
  padding: 30px;
  margin-bottom: 5%;
  @include breakpoint(medium) {
    padding: 40px;
  }
}