$susy: (
    columns: 12,
    gutters: .5,
    math: fluid,
    output: float,
    gutter-position: inside,
    global-box-sizing: (border-box)
);


/* ## Site Containers
--------------------------------------------- */

.site-container {
}

.site-header {
  background-color: #fff;
}

.site-header > .wrap {
  @include breakpoint(large) {
    @include container(80em); // set susy grid container
  }
}

.site-header .title-area {
  @include breakpoint(large) {
    @include span(8);
  }
}

.site-header .widget-area {
  @include breakpoint(large) {
    @include span(last 4);
  }
}

.site-inner {
  clear: both;
  padding-top: 40px;
  word-wrap: break-word;
  @include breakpoint(large) {
    @include container(80em); // set susy grid container
  }
}

.landing-page .site-inner {
}

////// uhhhhhh here for now.

.after-entry,
.archive-description,
.author-box,
.comment-respond,
.entry,
.entry-comments,
.entry-pings,
.sidebar .widget {
  padding: 30px;
  margin-bottom: 5%;
}

/* ## Column Widths and Positions
--------------------------------------------- */

.content-sidebar-wrap {
}

.content-sidebar-sidebar .content-sidebar-wrap,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
}

/* ### Content */

.content {
}

.sidebar-primary {
}

.sidebar-secondary {
}

.content-sidebar {
  .content {
    @include breakpoint(large) {
      @include span(8);
    }
  }
  .sidebar-primary {
    @include breakpoint(large) {
      @include span(last 4);
    }
  }
}

.sidebar-content {
  .content {
    @include breakpoint(large) {
      @include span(last 8);
    }
  }
  .sidebar-primary {
    @include breakpoint(large) {
      @include span(4);
    }
  }
}

.content-sidebar-sidebar {
  .content {
    @include breakpoint(medium) {
      @include span(8);
    }
    @include breakpoint(large) {
      @include span(6);
    }
  }
  .sidebar-primary {
    @include breakpoint(medium) {
     @include span(isolate 4 at 8);
    }
    @include breakpoint(large) {
      @include span(3);
    }
  }
  .sidebar-secondary {
    @include breakpoint(medium) {
      @include span(isolate 4 at 8);
    }
    @include breakpoint(large) {
      @include span(last 3);
    }
  }
}

.sidebar-sidebar-content {
  .content {
    @include breakpoint(medium) {
      @include span(last 8);
    }
    @include breakpoint(large) {
      @include span(last 6);
    }
  }
  .sidebar-primary {
    @include breakpoint(medium) {
      @include span(span 4 at 1);
    }
    @include breakpoint(large) {
      @include span(isolate 3 at 4);
    }
  }
  .sidebar-secondary {
    @include breakpoint(medium) {
      @include span(span 4 at 1);
    }
    @include breakpoint(large) {
      @include span(3);
    }
  }
}

.sidebar-content-sidebar {
  .content {
    @include breakpoint(medium) {
      @include span(span 8);
    }
    @include breakpoint(large) {
      @include span(isolate 6 at 4);
    }
  }
  .sidebar-primary {
    @include breakpoint(medium) {
      @include span(span 4 at 8);
    }
    @include breakpoint(large) {
      @include span(3);
    }
  }
  .sidebar-secondary {
    @include breakpoint(medium) {
      @include span(span 4 at 8);
    }
    @include breakpoint(large) {
      @include span(last 3);
    }
  }
}

.full-width-content .content {
  @include breakpoint(large) {
    @include span(12);
  }
}

/* ### Footer */

.footer-widgets .wrap {
  @include container(80em); // set susy grid container
}

.footer-widgets-1 {
  @include breakpoint(large) {
    @include span(4);
  }
}

.footer-widgets-2 {
  @include breakpoint(large) {
    @include span(4);
  }
}

.footer-widgets-3 {
  @include breakpoint(large) {
    @include span(last 4);
  }
}

/* ## Column Classes
--------------------------------------------- */
// Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css

.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {

  @include breakpoint(600px) {
     float: left;
     margin-left: 2.564102564102564%;
  }
}

@include breakpoint(600px) {
  .one-half,
  .three-sixths,
  .two-fourths {
    width: 48.717948717948715%;
  }

  .one-third,
  .two-sixths {
    width: 31.623931623931625%;
  }

  .four-sixths,
  .two-thirds {
    width: 65.81196581196582%;
  }

  .one-fourth {
    width: 23.076923076923077%;
  }

  .three-fourths {
    width: 74.35897435897436%;
  }

  .one-sixth {
    width: 14.52991452991453%;
  }

  .five-sixths {
    width: 82.90598290598291%;
  }

  .first {
    clear: both;
    margin-left: 0;
  }
}